[submodule "calctl"]
	path = calctl
	url = https://github.com/aeon022/calctl.git
[submodule "mailctl"]
	path = mailctl
	url = https://github.com/aeon022/mailctl.git
[submodule "budgetctl"]
	path = budgetctl
	url = https://github.com/aeon022/budgetctl.git
[submodule "notectl"]
	path = notectl
	url = https://github.com/aeon022/notectl.git
[submodule "taskctl"]
	path = taskctl
	url = https://github.com/aeon022/taskctl.git
[submodule "diaryctl"]
	path = diaryctl
	url = https://github.com/aeon022/diaryctl
[submodule "timectl"]
	path = timectl
	url = https://github.com/aeon022/timectl
[submodule "postctl"]
	path = postctl
	url = https://github.com/aeon022/postctl.git
